<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>AddBtn.png</key>
      <dict>
        <key>frame</key>
        <string>{{1033,944},{50,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,51}}</string>
        <key>sourceSize</key>
        <string>{50,51}</string>
      </dict>
      <key>Arrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,915},{80,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,103}}</string>
        <key>sourceSize</key>
        <string>{80,103}</string>
      </dict>
      <key>BtnBg0.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,409},{186,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,192}}</string>
        <key>sourceSize</key>
        <string>{186,192}</string>
      </dict>
      <key>BtnBg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,195},{210,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,216}}</string>
        <key>sourceSize</key>
        <string>{210,216}</string>
      </dict>
      <key>BtnIcon0a.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,542},{140,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,142}}</string>
        <key>sourceSize</key>
        <string>{140,142}</string>
      </dict>
      <key>BtnIcon0b.png</key>
      <dict>
        <key>frame</key>
        <string>{{917,379},{163,165}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,165}}</string>
        <key>sourceSize</key>
        <string>{165,167}</string>
      </dict>
      <key>BtnIcon1a.png</key>
      <dict>
        <key>frame</key>
        <string>{{1097,686},{122,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,124}}</string>
        <key>sourceSize</key>
        <string>{122,124}</string>
      </dict>
      <key>BtnIcon1b.png</key>
      <dict>
        <key>frame</key>
        <string>{{1239,393},{140,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,143}}</string>
        <key>sourceSize</key>
        <string>{140,143}</string>
      </dict>
      <key>BtnIcon2a.png</key>
      <dict>
        <key>frame</key>
        <string>{{917,546},{181,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,127}}</string>
        <key>sourceSize</key>
        <string>{181,127}</string>
      </dict>
      <key>BtnIcon2b.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,639},{206,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,144}}</string>
        <key>sourceSize</key>
        <string>{206,144}</string>
      </dict>
      <key>BtnIcon3a.png</key>
      <dict>
        <key>frame</key>
        <string>{{1242,538},{140,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,150}}</string>
        <key>sourceSize</key>
        <string>{140,150}</string>
      </dict>
      <key>BtnIcon3b.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,785},{166,178}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,178}}</string>
        <key>sourceSize</key>
        <string>{166,178}</string>
      </dict>
      <key>BtnLabel0a.png</key>
      <dict>
        <key>frame</key>
        <string>{{1325,931},{87,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,45}}</string>
        <key>sourceSize</key>
        <string>{91,49}</string>
      </dict>
      <key>BtnLabel0b.png</key>
      <dict>
        <key>frame</key>
        <string>{{1097,812},{98,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,51}}</string>
        <key>sourceSize</key>
        <string>{102,55}</string>
      </dict>
      <key>BtnLabel1a.png</key>
      <dict>
        <key>frame</key>
        <string>{{1237,933},{86,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,45}}</string>
        <key>sourceSize</key>
        <string>{90,49}</string>
      </dict>
      <key>BtnLabel1b.png</key>
      <dict>
        <key>frame</key>
        <string>{{1184,865},{97,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,51}}</string>
        <key>sourceSize</key>
        <string>{101,55}</string>
      </dict>
      <key>BtnLabel2a.png</key>
      <dict>
        <key>frame</key>
        <string>{{1324,842},{87,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,45}}</string>
        <key>sourceSize</key>
        <string>{91,49}</string>
      </dict>
      <key>BtnLabel2b.png</key>
      <dict>
        <key>frame</key>
        <string>{{933,944},{98,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,51}}</string>
        <key>sourceSize</key>
        <string>{102,55}</string>
      </dict>
      <key>BtnLabel3a.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,233},{87,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,45}}</string>
        <key>sourceSize</key>
        <string>{91,49}</string>
      </dict>
      <key>BtnLabel3b.png</key>
      <dict>
        <key>frame</key>
        <string>{{1085,955},{97,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,51}}</string>
        <key>sourceSize</key>
        <string>{101,55}</string>
      </dict>
      <key>Close.png</key>
      <dict>
        <key>frame</key>
        <string>{{1221,690},{132,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,100}}</string>
        <key>sourceSize</key>
        <string>{132,100}</string>
      </dict>
      <key>EXP.png</key>
      <dict>
        <key>frame</key>
        <string>{{1355,690},{81,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,30}}</string>
        <key>sourceSize</key>
        <string>{85,34}</string>
      </dict>
      <key>ExpBar.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,325},{282,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{282,52}}</string>
        <key>sourceSize</key>
        <string>{282,52}</string>
      </dict>
      <key>FightBtn.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,599},{400,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,200}}</string>
        <key>sourceSize</key>
        <string>{400,200}</string>
      </dict>
      <key>GoldBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1328,2},{272,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{272,63}}</string>
        <key>sourceSize</key>
        <string>{272,63}</string>
      </dict>
      <key>GoldIcon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1237,842},{85,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,89}}</string>
        <key>sourceSize</key>
        <string>{89,93}</string>
      </dict>
      <key>HPBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,347},{275,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{275,60}}</string>
        <key>sourceSize</key>
        <string>{275,60}</string>
      </dict>
      <key>Head.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{615,191}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{615,191}}</string>
        <key>sourceSize</key>
        <string>{619,199}</string>
      </dict>
      <key>LevelArrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{1088,865},{88,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,94}}</string>
        <key>sourceSize</key>
        <string>{92,98}</string>
      </dict>
      <key>LevelBtn.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,195},{401,200}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{401,200}}</string>
        <key>sourceSize</key>
        <string>{409,202}</string>
      </dict>
      <key>LevelLv.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,325},{72,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,45}}</string>
        <key>sourceSize</key>
        <string>{72,45}</string>
      </dict>
      <key>LevelTip0.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,964},{112,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,58}}</string>
        <key>sourceSize</key>
        <string>{116,60}</string>
      </dict>
      <key>LevelTip1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1328,276},{112,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,56}}</string>
        <key>sourceSize</key>
        <string>{116,60}</string>
      </dict>
      <key>LevelTip2.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,964},{112,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,58}}</string>
        <key>sourceSize</key>
        <string>{116,60}</string>
      </dict>
      <key>LevelTipBtn0.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,409},{261,101}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{261,101}}</string>
        <key>sourceSize</key>
        <string>{263,103}</string>
      </dict>
      <key>LevelTipBtn1.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,233},{297,112}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{297,112}}</string>
        <key>sourceSize</key>
        <string>{299,114}</string>
      </dict>
      <key>Lv.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,672},{70,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,43}}</string>
        <key>sourceSize</key>
        <string>{74,47}</string>
      </dict>
      <key>RoleIcon0.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,2},{226,351}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,351}}</string>
        <key>sourceSize</key>
        <string>{226,351}</string>
      </dict>
      <key>RoleL0.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,915},{159,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,47}}</string>
        <key>sourceSize</key>
        <string>{163,51}</string>
      </dict>
      <key>RoleL1.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,891},{150,51}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,51}}</string>
        <key>sourceSize</key>
        <string>{154,55}</string>
      </dict>
      <key>RoleL2.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,965},{167,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,52}}</string>
        <key>sourceSize</key>
        <string>{171,56}</string>
      </dict>
      <key>RoleL3.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,836},{150,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,53}}</string>
        <key>sourceSize</key>
        <string>{154,57}</string>
      </dict>
      <key>RoleL4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1279,230},{161,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,47}}</string>
        <key>sourceSize</key>
        <string>{165,51}</string>
      </dict>
      <key>RoleLv.png</key>
      <dict>
        <key>frame</key>
        <string>{{1184,964},{51,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,30}}</string>
        <key>sourceSize</key>
        <string>{51,30}</string>
      </dict>
      <key>RoleName0.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,603},{167,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,39}}</string>
        <key>sourceSize</key>
        <string>{167,39}</string>
      </dict>
      <key>RoleSkill0.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,752},{155,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,161}}</string>
        <key>sourceSize</key>
        <string>{155,161}</string>
      </dict>
      <key>RoleSkill1.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,752},{155,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,161}}</string>
        <key>sourceSize</key>
        <string>{155,161}</string>
      </dict>
      <key>RoleSkill2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1082,379},{155,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,161}}</string>
        <key>sourceSize</key>
        <string>{155,161}</string>
      </dict>
      <key>RoleSkill3.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,675},{159,159}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,159}}</string>
        <key>sourceSize</key>
        <string>{159,159}</string>
      </dict>
      <key>RoleSkillLocked.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,672},{78,104}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,104}}</string>
        <key>sourceSize</key>
        <string>{82,106}</string>
      </dict>
      <key>RoleTT.png</key>
      <dict>
        <key>frame</key>
        <string>{{1221,792},{144,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,48}}</string>
        <key>sourceSize</key>
        <string>{144,48}</string>
      </dict>
      <key>RoleUpdate.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,397},{400,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,200}}</string>
        <key>sourceSize</key>
        <string>{400,200}</string>
      </dict>
      <key>StageCostBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,230},{302,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{302,93}}</string>
        <key>sourceSize</key>
        <string>{302,93}</string>
      </dict>
      <key>StagePassBtn.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,801},{220,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,224}}</string>
        <key>sourceSize</key>
        <string>{220,224}</string>
      </dict>
      <key>StagePassBtn1.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,413},{220,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,224}}</string>
        <key>sourceSize</key>
        <string>{220,224}</string>
      </dict>
      <key>StagePassBtn2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,801},{220,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,224}}</string>
        <key>sourceSize</key>
        <string>{220,224}</string>
      </dict>
      <key>StagePassed.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,2},{354,229}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{354,229}}</string>
        <key>sourceSize</key>
        <string>{354,229}</string>
      </dict>
      <key>colock.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,644},{106,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,142}}</string>
        <key>sourceSize</key>
        <string>{106,142}</string>
      </dict>
      <key>xie.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,603},{17,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,28}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>HallSceneTP.png</string>
      <key>textureFileName</key>
      <string>HallSceneTP.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>