<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Block.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,1966},{128,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,63}}</string>
        <key>sourceSize</key>
        <string>{128,63}</string>
      </dict>
      <key>Crit.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,1966},{128,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,64}}</string>
        <key>sourceSize</key>
        <string>{128,64}</string>
      </dict>
      <key>Gold0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1117,1584},{69,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>Gold1.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,1834},{75,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,74}}</string>
        <key>sourceSize</key>
        <string>{75,74}</string>
      </dict>
      <key>Gold2.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,1910},{69,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>Gold3.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,1271},{47,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,74}}</string>
        <key>sourceSize</key>
        <string>{47,74}</string>
      </dict>
      <key>Gold4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1176,2},{23,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,74}}</string>
        <key>sourceSize</key>
        <string>{23,74}</string>
      </dict>
      <key>Gold5.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,673},{47,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,74}}</string>
        <key>sourceSize</key>
        <string>{47,74}</string>
      </dict>
      <key>PlayerHead.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,776},{408,557}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{408,557}}</string>
        <key>sourceSize</key>
        <string>{408,557}</string>
      </dict>
      <key>RockerBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,1333},{302,304}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{302,304}}</string>
        <key>sourceSize</key>
        <string>{302,304}</string>
      </dict>
      <key>RockerSub.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,1902},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>Skill0.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,902},{184,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,192}}</string>
        <key>sourceSize</key>
        <string>{184,192}</string>
      </dict>
      <key>Skill1.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,1077},{184,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,192}}</string>
        <key>sourceSize</key>
        <string>{184,192}</string>
      </dict>
      <key>Skill2.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,1639},{256,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,247}}</string>
        <key>sourceSize</key>
        <string>{256,247}</string>
      </dict>
      <key>SkillCold0.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,837},{237,238}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{237,238}}</string>
        <key>sourceSize</key>
        <string>{237,238}</string>
      </dict>
      <key>SkillCold1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,673},{227,226}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{227,226}}</string>
        <key>sourceSize</key>
        <string>{227,226}</string>
      </dict>
      <key>bossName0.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,1628},{204,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,75}}</string>
        <key>sourceSize</key>
        <string>{204,75}</string>
      </dict>
      <key>bossName1.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,1446},{158,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,75}}</string>
        <key>sourceSize</key>
        <string>{158,75}</string>
      </dict>
      <key>bossName2.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,837},{267,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,78}}</string>
        <key>sourceSize</key>
        <string>{267,78}</string>
      </dict>
      <key>button_continue.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,1863},{126,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,123}}</string>
        <key>sourceSize</key>
        <string>{126,123}</string>
      </dict>
      <key>button_pause.png</key>
      <dict>
        <key>frame</key>
        <string>{{1013,1738},{126,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,123}}</string>
        <key>sourceSize</key>
        <string>{126,123}</string>
      </dict>
      <key>button_skill1.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,1460},{159,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,166}}</string>
        <key>sourceSize</key>
        <string>{159,166}</string>
      </dict>
      <key>button_skill2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,1272},{159,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,166}}</string>
        <key>sourceSize</key>
        <string>{159,166}</string>
      </dict>
      <key>button_skill3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,1096},{174,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,166}}</string>
        <key>sourceSize</key>
        <string>{174,166}</string>
      </dict>
      <key>button_skill4.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,1865},{175,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,166}}</string>
        <key>sourceSize</key>
        <string>{175,166}</string>
      </dict>
      <key>button_skill_locked.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,1274},{170,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,161}}</string>
        <key>sourceSize</key>
        <string>{170,161}</string>
      </dict>
      <key>button_skill_none.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,1628},{159,159}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,159}}</string>
        <key>sourceSize</key>
        <string>{159,159}</string>
      </dict>
      <key>button_throw.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,1106},{159,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,166}}</string>
        <key>sourceSize</key>
        <string>{159,166}</string>
      </dict>
      <key>combo_hits.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,1271},{187,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,100}}</string>
        <key>sourceSize</key>
        <string>{187,100}</string>
      </dict>
      <key>danger.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,673},{342,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{342,162}}</string>
        <key>sourceSize</key>
        <string>{342,162}</string>
      </dict>
      <key>drop0.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,1910},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>drop1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1108,536},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>drop2.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,1917},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>drop3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1917},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>drop4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1108,317},{121,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,108}}</string>
        <key>sourceSize</key>
        <string>{121,108}</string>
      </dict>
      <key>drop5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1108,427},{121,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,107}}</string>
        <key>sourceSize</key>
        <string>{121,107}</string>
      </dict>
      <key>drop6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1013,1606},{130,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,102}}</string>
        <key>sourceSize</key>
        <string>{130,102}</string>
      </dict>
      <key>drop7.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,1789},{154,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,111}}</string>
        <key>sourceSize</key>
        <string>{154,111}</string>
      </dict>
      <key>drop8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1065,1440},{126,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,142}}</string>
        <key>sourceSize</key>
        <string>{126,142}</string>
      </dict>
      <key>farme_talk.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{1080,375}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1080,375}}</string>
        <key>sourceSize</key>
        <string>{1080,375}</string>
      </dict>
      <key>frame_lesson.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,2},{313,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,90}}</string>
        <key>sourceSize</key>
        <string>{313,90}</string>
      </dict>
      <key>frame_pickup.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,1446},{180,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,82}}</string>
        <key>sourceSize</key>
        <string>{180,82}</string>
      </dict>
      <key>greenAdd.png</key>
      <dict>
        <key>frame</key>
        <string>{{1117,1660},{61,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,65}}</string>
        <key>sourceSize</key>
        <string>{61,65}</string>
      </dict>
      <key>healthname_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,1639},{269,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{269,76}}</string>
        <key>sourceSize</key>
        <string>{269,76}</string>
      </dict>
      <key>healthname_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,1888},{268,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,76}}</string>
        <key>sourceSize</key>
        <string>{268,76}</string>
      </dict>
      <key>name_a.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,1335},{528,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{528,212}}</string>
        <key>sourceSize</key>
        <string>{528,212}</string>
      </dict>
      <key>name_b.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1335},{580,221}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{580,221}}</string>
        <key>sourceSize</key>
        <string>{580,221}</string>
      </dict>
      <key>name_c.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,379},{601,395}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{601,395}}</string>
        <key>sourceSize</key>
        <string>{601,395}</string>
      </dict>
      <key>name_d.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,379},{501,292}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{501,292}}</string>
        <key>sourceSize</key>
        <string>{501,292}</string>
      </dict>
      <key>name_e.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,776},{555,245}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{555,245}}</string>
        <key>sourceSize</key>
        <string>{555,245}</string>
      </dict>
      <key>shadow.png</key>
      <dict>
        <key>frame</key>
        <string>{{1164,902},{134,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,65}}</string>
        <key>sourceSize</key>
        <string>{134,65}</string>
      </dict>
      <key>smoke.png</key>
      <dict>
        <key>frame</key>
        <string>{{1164,1038},{43,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,58}}</string>
        <key>sourceSize</key>
        <string>{43,58}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>GameSceneUITP.png</string>
      <key>textureFileName</key>
      <string>GameSceneUITP.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>