<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>BossHPBar.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,197},{800,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{800,49}}</string>
        <key>sourceSize</key>
        <string>{800,49}</string>
      </dict>
      <key>BossHPBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,2},{1041,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1041,135}}</string>
        <key>sourceSize</key>
        <string>{1041,135}</string>
      </dict>
      <key>PlayerHPBar.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,139},{491,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{491,56}}</string>
        <key>sourceSize</key>
        <string>{491,56}</string>
      </dict>
      <key>PlayerHPBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{772,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{772,235}}</string>
        <key>sourceSize</key>
        <string>{772,235}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>GameSceneTP.png</string>
      <key>textureFileName</key>
      <string>GameSceneTP.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>